<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %></title>
</head>

<body>

  <% if (locals.user) { %>
  <h1>Welcome back, <%= user.firstname %></h1>
  <a href="/member-join">Become a member</a>
  <a href="/log-out">Log out</a>
  
  
  <% } else { %>
  <h1>Login</h1>

  <%- include("partials/logInErrors.ejs") %>
  
  <form action="/log-in" method="post">
    <div>
      <label for="username">Username</label>
      <input id="username" name="username" type="text" />
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
    </div>
    <input type="submit" value="Log-in">

  </form>

  <hr>
  <p>Don't have an account?</p>
  <a href="/sign-up">Sign Up</a>
  <% } %>
</body>

</html>