<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="header">
    <h1 class="logo"><a href="/">SECRET TEXTS</a></h1>
    <h1 class="title">Become a Member</h1>
  </div>
  <div class="middle">
    <div class="tx">
        <p>You have successfully became a member!</p>
        <a href="/">Return</a>
    </div>
  </div>
  <%- include("partials/footer.ejs") %>
</body>

</html>