<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <% if (locals.isAdmin) { %>
  <h1>You have successfully become an Admin</h1>
  <% } else { %>
  <h1>You have successfully become a member!</h1>
  <% } %>
  <a href="/">Return home</a>
</body>

</html>