<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="/newmessage" method="post">
        <textarea id="message" name="message" placeholder="Write something here..."></textarea>
        <p><%=locals.error%></p>
        <input type="submit" value="POST">
    </form>
    
</body>
</html>