<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="header">
    <h1 class="logo"><a href="/">SECRET TEXTS</a></h1>
    <h1 class="title">Upgrade to Admin</h1>
  </div>

  <div class="middle">
    <form class="memberForm" action="/upgrade" method="post">
      <p>By becoming an Admin, you can delete messages</p>
      <div>
        <% if (locals.error) {  %>
        <li class="errorMsg"><%=locals.error%></li>
        <% } %>
        <input type="password" name="adminCode" placeholder="Enter admin code" maxlength="4">
        <button type="submit">UPGRADE</button>
      </div>
    </form>
  </div>
  <%- include("partials/footer.ejs") %>
</body>

</html>